.home {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url('../images/rb-art.png');
  background-size: cover;
}
